@import '../../style/index.scss';

.quote {
  padding: 80px 0;
  background-color: $dark;

  .quoteWrapper {
    text-align: center;
    color: #fff;
    position: relative;

    p {
      font-size: 32px;
      width: 80%;
      margin: 0 auto;
      color: #fff;
    }

    .words {
      .quoteMark {
        font-size: 42px;

        &.open {
          margin-right: 10px;
        }
      }
    }

    .author {
      font-size: 16px;
      color: #ddd;
      margin-top: 30px;
      font-weight: bold;
    }

    .reference {
      font-size: 14px;

    }
  }
}
