@import './variables.scss';
@import 'bulma/sass/utilities/_all.sass';
@import "./themes";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  position: relative;
  margin: 0;
}

button,
button:focus,
a,
a:hover,
a:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none !important;
}

input,
textarea,
select,
option {
  font-family: 'Jura', sans-serif;
}

.section {
  padding: 80px 0 40px;
  text-align: center;
}

.main-btn {
  display: inline-block;
  font-size: 14px;
  margin: 10px;
  padding: 8px;
  text-align: center;
  width: 150px;
}

@mixin button-variant($color, $background, $hoverColor) {
  border: 1px solid $color;
  color: $color;
  &:hover {
    background-color: $background;
    color: $hoverColor;
  }
}

.white-btn {
  @include button-variant($white, $white, $colorDefault);
}

.dark-btn {
  @include button-variant($colorDefault, $colorDefault, $white);
}