$colorDefault: #333333;
$black: #000000;
$dark: #181818;
$dark2: #2c2b2b;
$gray: #cccccc;
$white: #ffffff;
$white2: #f7f7f7;
$danger: #f35050;
$darkGray: #555555;
$darkGray2: #333333;
$lightGray: #9e9e9e;
$success: #117911;

$fullWidth: 100%;
