.technicalSkills {
  background: url(../../assets/img/coffee-bg.jpg);
  background-size: cover;

  h2 {
    color: #eaeaea;
    position: relative;
  }

  p.title {
    color: #eaeaea;
    position: relative;
  }

  .headingLine {
    background: #fff;
  }

  .skillsWrapper {
    margin-top: 40px;
  }

  .skill {
    margin-bottom: 40px;

    h2 {
      margin-top: 10px;
      text-transform: uppercase;
    }
  }

  .otherSkills {
    margin-top: 40px;
  }
}
