@import '../../style/index.scss';

$barHeight: 15px;
.barGroup {
  text-align: left;
  position: relative;
  margin-bottom: 45px;

  .elastic {
    background: #fff;
    margin-bottom: 20px !important;
    transition-timing-function: cubic-bezier(0.5, 0.25, 0.375, 1.335);
    transition-duration: 1s;
  }
}

.barGroupBar {
  margin-bottom: 20px;

  &.thick {
    width: 0;
    height: $barHeight;
    border-radius: 6px;
    margin-bottom: 5px;
    margin-top: 5px;
    transition: width 1s;

    &::before {
      display: block;
      content: '';
      position: absolute;
      z-index: 0;
      opacity: 0.1;
      width: 95%;
      height: $barHeight;
      border-radius: 6px;
      background: #fff;
    }
  }
}

.b_label {
  color: #fff;
  font-size: 15px;
}

.b_label_position {
  position: absolute;
  bottom: -25px;
}

.barLabel {
  @extend .b_label;
  display: inline-block;
  border: 1px solid #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  transition: all 0.3s;

  &:hover {
    background: #fff;
    color: #111;
  }
}

.barLabelMax {
  @extend .b_label;
  @extend .b_label_position;
  right: 20px;
}

.barLabelMin {
  @extend .b_label;
  @extend .b_label_position;
  left: 20px;
}

.barTooltip {
  transition: all 1s;
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color: rgba(255, 255, 255, 0.91);
  transform: translateX(-50%) translateY(-30px);
  border-radius: 2px;
  line-height: 11px;
  box-shadow: 1px 1px 1px 1px #e2d9e2;

  span {
    @extend .b_label;
    color: #000;
  }
}

.barTooltipTri {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(255, 255, 255, 0.81) transparent transparent transparent;
}
