@import '../../style/index.scss';
@import 'bulma/sass/components/navbar';
@import 'bulma/sass/components/dropdown';
@import 'bulma/sass/elements/container';
@import 'bulma/sass/elements/button';
@import 'bulma/sass/helpers/other';

.mainNavbar {
  @extend .navbar;
  @extend .is-fixed-top;

  .navbarItem {
    @extend .navbar-item;

    i {
      margin-right: 10px;
    }
  }

  .navbarEnd {
    @extend .navbar-end;

    .languageOptions {
      @extend .navbar-item;
      @extend .has-dropdown;
      @extend .is-hoverable;

      .is-arrowless {
        @extend .navbar-link;
      }

      .languageDropdownLink {
        font-size: 0.8rem;
        border: none;
        background-color: inherit;

        i {
          margin-right: 8px;
        }

        ::after {
          border: none;
        }
      }

      .languageDropdown {
        @extend .navbar-dropdown;

        button {
          @extend .navbar-item;
          @extend .is-clickable;
          @extend .is-hoverable;
          border: none;
          background-color: inherit;
          font-size: 0.8rem;
        }
      }

      img:last-child {
        margin-left: 5px;
      }
    }
  }

  .navbarBrand {
    @extend .navbar-brand;
  }
}
