body {
  font-family: "Jura", sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  color: #333;
}

p {
  color: #777;
  font-weight: 400;
}

a {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a,
a:hover,
a:focus {
  font-family: "Jura", sans-serif;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

button,
button:focus,
a,
a:hover,
a:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none !important;
}

/* ---------------------------------------
	  Start Global Styles 
  ----------------------------------------- */
.main-heading {
  font-size: 24px;
  text-transform: capitalize;
  margin: 0 auto;
}

.heading-line {
  height: 3px;
  width: 100px;
  background: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

.section {
  padding: 80px 0 40px;
}

.has-overlay {
  position: relative;
}

.has-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.has-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.has-pattern {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
}

.has-pattern::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  background-image: url("../assets/img/noise.png");
  background-repeat: repeat;
  width: 100%;
  z-index: 0;
}

.sec-title {
  margin-bottom: 60px;
}

.main-para {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.mb-40 {
  margin-bottom: 40px !important;
}

/* ---------------------------------------
	  Start Buttons Styles 
  ----------------------------------------- */
.main-btn {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 8px;
  margin: 10px;
  font-size: 14px;
}

.main-btn.white-btn {
  border: 1px solid #fff;
  color: #fff;
}

.main-btn.white-btn:hover {
  background-color: #fff;
  color: #333;
}

.main-btn.dark-btn {
  border: 1px solid #333;
  color: #333;
}

.main-btn.dark-btn:hover {
  background-color: #333;
  color: #fff;
}

.line-btn {
  font-size: 14px;
}

.line-btn i {
  margin-left: 3px;
  font-size: 16px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.line-btn:hover i {
  margin-left: 8px;
}
